<h1> {{vm.proj.name}}</h1>

<!--<img ng-src="/img/proj/101.jpg">-->

<div class="projectThumbs">

    <div ng-repeat="img in vm.projimgs"     >

        <img ng-src="/img/proj/{{vm.proj.id}}/{{img}}" class="projectThumb">

    </div>

</div>


<!--<div class="projectThumbs">-->


    <!--<a ng-repeat="proj in vm.projs" ng-href="#!/project/{{proj.id}}"  class="projectThumb" ng-style="{'background-image':'url(img/proj/'+proj.id+'.jpg)'}" >-->

        <!--<div class="projectName">{{proj.name}}</div>-->
    <!--</a>-->

<!--</div>-->






